body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom right, black, green);
  background-size: cover; /* Ensures the gradient covers the entire body */
}

.container {
  text-align: center;
}

input[type="text"], button, input[type="datetime-local"] {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for inputs and buttons */
  border: none;
  border-radius: 5px;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  background-color: rgba(240, 240, 240, 0.8); /* Semi-transparent light gray background for task items */
  margin: 5px;
}

.timestamp {
  font-size: 12px;
  color: #666;
  margin-left: 10px;
}

.complete-button {
  margin-left: 10px;
  background-color: #3498db; /* Blue color for the Complete button */
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.complete-button:disabled {
  background-color: #ccc; /* Light gray color for disabled Complete button */
  cursor: not-allowed;
}